<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <title>Register</title>
</head>
<body>
  <style>
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    .main{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  
    .form1{
    }
    .btn{
      padding: 2px;
      text-decoration: none;
    }
  </style>
  <h1>Sign up</h1>
  <div class="main">
    <div class="signup">
      <form class="form">
        <div class="email">
          <label for="email">email</label>
          <input type="email" id="email" name="email" required>
        </div>
        <div class="name">
          <label for="name">name</label>
          <input type="text"  id="name" name="name" required>
        </div>
        <div class="date">
          <label for="date">date of birth</label>
          <input type="date" id="date" name="date" required>
        </div>
        <div class="password">
          <label>new password</label>
          <input type="password" id="password" name="password" required>
        </div>
        <button class="btn" type="submit">submit</button>
            <button class="btn" type="reset">refresh</button>
      </form>
    </div>
  </div>
  <script>
    const form = document.querySelector('form');
    form.addEventListener('submit', (e) => {
      e.preventDefault();

      //get values
      const email = form.email.value;
      const name = form.name.value;
      const date = form.date.value;
      const password = form.password.value;

      console.log(email,name,date, password);
    })
  </script>
</body>
</html>